*

!.gitignore
!isol.c
!teste.c
!teste2.c
!bash_process
!get_running_processes

!linux-5.13-rc5
linux-5.13-rc5/*
!linux-5.13-rc5/.config

!linux-5.13-rc5/kernel
linux-5.13-rc5/kernel/*
!linux-5.13-rc5/kernel/sched
linux-5.13-rc5/kernel/sched/*
!linux-5.13-rc5/kernel/sched/core.c

!linux-5.13-rc5/arch
linux-5.13-rc5/arch/*
!linux-5.13-rc5/arch/x86
linux-5.13-rc5/arch/x86/*
!linux-5.13-rc5/arch/x86/entry
linux-5.13-rc5/arch/x86/entry/*
!linux-5.13-rc5/arch/x86/entry/syscalls
linux-5.13-rc5/arch/x86/entry/syscalls/*
!linux-5.13-rc5/arch/x86/entry/syscalls/syscall_64.tbl

!core.c
